<div class="card-container">
  <mat-card class="about-card">
    <mat-card-header>
      <mat-card-title>About Us</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <p>
        Welcome to <Strong>ReFurnish,</Strong> your trusted destination for quality second-hand furniture. We believe
        every piece has a story—and a future.</p>
      <p>At ReFurnish, we specialize in giving pre-loved furniture a new life. Our mission is twofold:</p>
      <p>- To help users declutter responsibly by selling furniture they no longer need</p>
      <p>- To provide affordable, stylish refurbished pieces for every space and budge</p>

    </mat-card-content>
  </mat-card>
</div>