<h2 class="signup-heading">Login Details</h2>

<form [formGroup]="contactForm" (ngSubmit)="onSubmit()" novalidate>
    <mat-card class="signup-card">
        <mat-card-content>

            <!-- UserName -->
            <mat-form-field appearance="outline" class="full-width">
                <mat-label>UserName</mat-label>
                <input matInput formControlName="userName" />
                <mat-error *ngIf="contactForm.get('userName')?.touched && contactForm.get('userName')?.invalid">
                    <span *ngIf="contactForm.get('userName')?.errors?.['required']">UserName is required.</span>
                </mat-error>
            </mat-form-field>

            <!-- Password -->
            <mat-form-field appearance="outline" class="full-width">
                <mat-label>Password</mat-label>
                <input matInput type="password" formControlName="password" />
                <mat-error *ngIf="contactForm.get('password')?.touched && contactForm.get('password')?.invalid">
                    <span *ngIf="contactForm.get('password')?.errors?.['required']">Password is required.</span>
                    <span *ngIf="contactForm.get('password')?.errors?.['minlength']">Minimum 6 characters
                        required.</span>
                </mat-error>
            </mat-form-field>

            <!-- Sign Up Button -->
            <button mat-raised-button color="primary" class="full-width" type="submit" [disabled]="contactForm.invalid">
                Login
            </button>

        </mat-card-content>
    </mat-card>
</form>