<mat-toolbar class="navbar">
  <img src="assets/images/furniture.png" alt="ReFurn Logo" height="40" />
  <span class="title">ReFurn</span>
  <span class="spacer"></span>

  <div style="display: flex; align-items: center;">

    <mat-form-field appearance="fill" class="search-input">
      <input matInput  placeholder="Search ReFurn.com" [(ngModel)]="searchQuery" (keyup.enter)="onSearch(searchQuery)">
    </mat-form-field>

    <button mat-icon-button color="primary" class="search-icon" (click)="onSearch(searchQuery)">
      <mat-icon>search</mat-icon>
    </button>
    
    <button mat-button routerLink="/" routerLinkActive="active-link"
      [routerLinkActiveOptions]="{ exact: true }">Home</button>
    <button mat-button routerLink="/signup" routerLinkActive="active-link">SignUp</button>
    <button mat-button routerLink="/about" routerLinkActive="active-link">About</button>
    <button mat-button routerLink="/services" routerLinkActive="active-link">Services</button>
    <button mat-button routerLink="/contact" routerLinkActive="active-link">Contact</button>
  </div>
</mat-toolbar>


<!-- Routed Content -->
<router-outlet></router-outlet>

<!-- Footer -->
<mat-toolbar color="primary" class="footer-toolbar">
  <div class="footer-content">
    <span class="footer-text">© 2025 ReFurn. All rights reserved.</span>
  </div>
</mat-toolbar>