<!-- <ngx-slick-carousel class="slider" [config]="slideConfig">
  <div ngxSlickItem *ngFor="let bg of backgrounds" class="slide">
    <div class="banner" [ngStyle]="{'background-image': 'url(' + bg + ')'}">
      <div class="overlay">
        <h1>Deals Revealed</h1>
        <h2>Great Freedom Festival</h2>
        <p>Offers starting at ₹99 on mobile accessories</p>

        <div class="icons">
          <mat-icon>local_shipping</mat-icon> Free Delivery
          <mat-icon>category</mat-icon> Wide Selection
          <mat-icon>credit_card</mat-icon> 10% SBI Discount
        </div>

        <div class="cards">
          <mat-card class="promo-card">Revamp your home in style</mat-card>
          <mat-card class="promo-card">Appliances | Up to 55% off</mat-card>
          <mat-card class="promo-card">Under ₹499 | Home Improvement</mat-card>
          <mat-card class="promo-card">Sign in for best experience</mat-card>
        </div>

        <button mat-raised-button color="primary">Sign in securely</button>
      </div>
    </div>
  </div>
</ngx-slick-carousel> -->
